{% extends "layout.html" %}
{% block content %}


{% if session.user_id %}
    <p>Olet kirjautunut sisään käyttäjänimellä <b>{{ session.username }}</b>. <a href="/logout">Kirjaudu ulos</a></p>

    {% if tasks %}
    <h1>Muistiinpanot</h1>
    <table>
        <thead>
            <tr>
                <th>Otsikko</th>
                <th>Kuvaus</th>
                <th>Luotu</th>
                <th>Määräaika</th>
                <th>Tärkeys</th>
                <th>Toiminnot</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
            <tr>
                <td>{{ task.title }}</td>
                <td>{{ task.description }}</td>
                <td>{{ task.date }}</td>
                <td>{{ task.due_date }}</td>
                <td>{{ task.priority }}</td>
                <td><a href="/edit/{{ task.id }}">Muokkaa</a></td>
            </tr>
            
            {% endfor %}
        </tbody>
    </table>
    <a href="/delete"><button type="button">Poista muistiinpano</button></a>
{% endif %}

    <a href="/new"><button>Luo uusi muistiinpano</button></a>

{% else %}
    <p>Et ole kirjautunut sisään. <a href="/login">Kirjaudu sisään</a></p>
    <p><img src="/static/post-it.jpg"></p>

{% endif %}

{% if message %}
    <p>{{ message }}</p>
{% endif %}

{% endblock %}