{% extends "layout.html" %}
{% block content %}


{% if session.user_id %}
    <p>Olet kirjautunut sisään käyttäjänimellä <b>{{ session.username }}</b>. <a href="/logout">Kirjaudu ulos</a></p>

    {% if tasks %}
    <h1>Muistiinpanot</h1>
    <form action="/sort_tasks" method="POST">
        <label for="sort_by">Lajittele:</label>
        <select name="sort_by" id="sort_by">
            <option value="priority">Tärkeys</option>
            <option value="date">Määräaika</option>
        </select>
        <button type="submit">Lajittele</button>
    </form>
    <table>
        <thead>
            <tr>
                <th>Otsikko</th>
                <th>Kuvaus</th>
                <th>Luotu</th>
                <th>Määräaika</th>
                <th>Tärkeys</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
            <tr>
                <td><a href="/task/{{ task.id }}" style="text-decoration: none; color: black;">{{ task.title }}</a></td>
                <td>{{ task.description }}</td>
                <td>{{ task.date }}</td>
                <td>{{ task.due_date }}</td>
                <td>{{ task.priority }}</td>
                <td><a href="/edit/{{ task.id }}">Muokkaa</a></td>
            </tr>
            
            {% endfor %}
        </tbody>
    </table>
    <a href="/delete"><button type="button">Poista muistiinpano</button></a>
    {% else %}
        <p>Ei muistiinpanoja.</p>
    {% endif %}

    <a href="/new"><button>Luo uusi muistiinpano</button></a>

    <h1>Muistutukset</h1>

    {% if reminders %}
    
    <ul class="reminders-list">
        {% for reminder in reminders %}
            <li>
                {{ reminder.reminder_message }} - {{ reminder.reminder_date }}
                <form action="/delete_reminder/{{ reminder.id }}" method="POST" style="display: inline;">
                    <button type="submit">Poista</button>
                </form>
            </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>Ei luotuja muistutuksia.</p>
    {% endif %}

    <a href="/add_reminder"><button>Luo muistutus</button></a>

{% else %}
    <p>Et ole kirjautunut sisään. <a href="/login">Kirjaudu sisään</a></p>
    <p><img src="/static/post-it.jpg"></p>

{% endif %}

{% if message %}
    <p>{{ message }}</p>
{% endif %}

{% endblock %}