{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}
{% block content %}
<h2>Tervetuloa!</h2>

Voit luoda itsellesi muistiinpanoja saadaksesi arjen aikataulun hallintaan.

{% if session.user_id %}
Olet kirjautunut sisään nimellä <b>{{ session.username }}</b>. <a href="/logout">Log out</a>
<p><img src="/static/post-it.jpg"><p></p>
{% else %}
<p>Et ole kirjautunut sisään. <a href="/login">Log in</a></p>
<p><img src="/static/post-it.jpg"><p>

Kieli:          
<select name="lang">
<option value="fi" selected> suomi
<option value="sv"> ruotsi
<option value="en"> englanti
</select>

{% endif %}
{% endblock %}
