{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}
{% block content %}
    {% if session.user_id %}
    <h1>Muistutukset</h1>

    {% if reminders %}
    
    <ul class="reminders-list">
        {% for reminder in reminders %}
            <li>
                {{ reminder.reminder_message }} - {{ reminder.reminder_date }}
                <form action="/delete_reminder/{{ reminder.id }}" method="POST" style="display: inline;">
                    <button type="submit">Poista</button>
                </form>
            </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>Ei luotuja muistutuksia.</p>
    {% endif %}
    {% endif %}
    
    {% if session.user_id %}
        <p>Olet kirjautunut sisään nimellä <b>{{ session.username }}</b>. <a href="/logout">Kirjaudu ulos</a></p>
        <p><img src="/static/post-it.jpg"><p></p>
        
    {% else %}
        <p>Et ole kirjautunut sisään. <a href="/login">Kirjaudu sisään</a></p>
        <p><img src="/static/post-it.jpg"><p>


    {% endif %}
{% endblock %}
