{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}
{% block content %}
    {% if session.user_id %}
    <h2>Muistutukset</h2>
        {% if reminders %}
            <ul class="reminders-list"></ul>
                {% for reminder in reminders %}
                    <li>{{ reminder.reminder_message }} - {{ reminder.reminder_date }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Ei luotuja muistutuksia.</p>
        {% endif %}
    {% endif %}
    
    {% if session.user_id %}
        <p>Olet kirjautunut sisään nimellä <b>{{ session.username }}</b>. <a href="/logout">Kirjaudu ulos</a></p>
        <p><img src="/static/post-it.jpg"><p></p>
        
    {% else %}
        <p>Et ole kirjautunut sisään. <a href="/login">Kirjaudu sisään</a></p>
        <p><img src="/static/post-it.jpg"><p>


    {% endif %}
{% endblock %}
