<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="/static/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <title>Notes</title>
</head>
<body>
    <h1>Notes app</h1>
    <div class="topnav">
        <ul>
            <li><a href="/">Etusivu</a></li>
            <li><a href="/login">Kirjaudu sisään</a></li>
            <li><a href="/home">Omat tehtävät</a></li>
            <li><a href="/categories">Omat kategoriat</a></li>
            <li><a href="/profile">Profiili</a></li>
            <li><a href="/recycle_bin">Roskakori</a></li>
        </ul>
    </div>
    <hr>
    {% block content %}
    {% endblock %}
</body>
</html>